*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Rubik, sans-serif;;
}

body{
    background-color: #f6f6f6;
    /* height: 100vh;  */
    scroll-behavior: smooth;
    
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* .transition {
    transition: left 3s;
    background-color: saddlebrown;
  } */
  h3{
    position: relative;
  }
  h3 span{
    position: absolute;
    right: 0;
    width: 0;
    border-left: 3px solid #000;
    background: #f6f6f6;
    animation: write 3s infinite alternate;
  }
  
  @keyframes write {
    from { width: 100% };
    to {width: 0%};
  }

body{
  
}