*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
    background: linear-gradient(to top, #c5c5c5, #f6f6f6, #ffff);
    height: 100vh;
}

/* 
body  {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
h1, h2, h3, h4,
h5, h6,p {
  font-family: "Montserrat", sans-serif;
}
.transition {
    transition: left 3s;
    background-color: saddlebrown;
  }
  .container{
    margin:auto;
    display: table;
  }
  h2{
    position: relative;
    float: left;
  }
  
  h2 span{
    position: absolute;
    right: 0;
    width: 0;
    border-left: 1px solid #000;
    background: aqua;
    animation: write 2s infinite alternate;
  }
  
  @keyframes write {
    from { width: 100% };
    to {width: 0%};
  } */