* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Rubik, sans-serif;;
}

body{
    background-color: #f6f6f6;
    /* height: 100vh;  */
    scroll-behavior: smooth;
    
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* .transition {
    transition: left 3s;
    background-color: saddlebrown;
  } */
  span.effect{
    position: relative;
  }
  span.effect::after{
    content: "";
    background: #f6f6f6;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    position: absolute;
    border-left: solid 2px;
    animation: write 3s infinite alternate;
  }
  
  @keyframes write {
    from { width: 100% };
    to {width: 0%};
  }

  i{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .appear{
    height: 50%;
    width: 100%;
    opacity: 0;
    transition: ease 1s;
  }
  @media (min-width: 768px) {
    .appear{
      height: 50vh;
      width: 50%;
      opacity: 0;
      transition: ease 1s;
    }
  }

  .appear:hover{
    opacity: 1;
    /* transition: ease 1s; */
  }